
@{
    ViewBag.Title = "Loans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Loans</h2>
<script>
    callLoans();
</script>
<table class="table" id="tblLoans">
    <tr>
        <th>loanId</th>
        <th>loanName</th>
        <th>loanAmount</th>
        <th>loanStatus</th>
        <th>createdAt</th>
        <th>requestedAt</th>
        <th>fundedAt</th>
        <th>Approve</th>
    </tr>
</table>
